@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font-family: "Press Start 2P", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(22, 22, 43);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;


}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
}



.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  color: rgb(255, 217, 0);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

footer {
  width: 100%;
  height: 15vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid rgb(255, 217, 0);
  width: 50%;
  height: 20%;
  min-height: 150px;
  border-radius: 5px;
}


form input,
form button {
  font-family: "Press Start 2P", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

form input {
  height: 30%;
  width: 70%;
  min-height: 35px;
  text-align: center;
  border-radius: 10px;
  background-color: black;
  color: rgb(255, 217, 0);
}

form button {
  height: 20%;
  width: 30%;
  min-height: 30px;
  background-color: rgb(255, 217, 0);
  color: rgb(22, 22, 43);
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(22, 22, 43);
  color: rgb(255, 217, 0);
  border-color: rgb(255, 217, 0);

}

.result-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 70%;
  height: 80%;
  list-style: none;
}

img {
  height: 100px;
  width: 100px;
}

.loading {
  color: yellow;
}

li {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 209, 0);
  border: 2px solid rgb(90, 224, 0);
  border-radius: 5px;

}

h2 {
  margin: 0;
  text-align: center;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 80%;
  width: 50%;
  background-color: rgb(22, 22, 43);
  color: coral;
  border: 3px solid yellow;
}

.details div {
  display: flex;
  width: 100%;
  padding-right: 40px;
  justify-content: end;
  align-items: center;
}

.details li {
  border: none;
  gap: 10px;
  background-color: transparent;
  color: yellow;
  font-size: 1rem;
}